# Object files
*.obj
*.OBJ

# Libraries
*.lib
*.LIB

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.bin
*.exe
*.out
*.app
*.com
*.bas
*.sys
*.exs
*.exc
*.ovl
*.386
*.vxd
*.cpi

# compressed files
*.ex_
*.sy_

# misc files
*.err
*.map
*.log
*.img
*.ndx
*.lst
*.16
*.crf

